#section0 {
  scroll-margin-top: 150px; /* Adjust the value to your desired offset */
  height: 44vw;
}


#section1 {
  scroll-margin-top: 70px; /* Adjust the value to your desired offset */
}

#section2 {
  scroll-margin-top: 70px; /* Adjust the value to your desired offset */
}



#section3 {
  scroll-margin-top: 200px; /* Adjust the value to your desired offset */
}

#section4 {
  scroll-margin-top: -100px; /* Adjust the value to your desired offset */
}

#section5 {
  scroll-margin-top: 150px; /* Adjust the value to your desired offset */
}

#section6 {
  scroll-margin-top: 150px; /* Adjust the value to your desired offset */
}


#section7 {
  scroll-margin-top: 170px; /* Adjust the value to your desired offset */
}
