@import "variables.scss";
@import "navbar-styles.scss";


:root {

    font-family: 'Poppins', Arial, Helvetica, sans-serif;


}

h1 {

    font-size: $header-1-font-size;
    font-weight: $font-bold;

}


section {

width: 100%;

}


.banner-container {

    margin-top: $top-scaffold-navbar;
    width: 100%;
    transition: 0.8s ease-in-out;

    @media(max-width:1080px) {

        margin-top: calc($top-scaffold-navbar - 20px);
      }

    .banner-video {

        position: absolute;
        top:  calc($top-scaffold-navbar - 20px);
        width: 100%;

video {

    width: 100%;

}

    }

    .svg-video-overlay {

        position: relative;
        
    }


   
}

.down-arrow {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 100%;
   /* bottom: 30px; */

    svg {

        width: 5%;
    }
}


#section1 {

.container {

    display: flex;
    width: 100%;

    .text-container {

        width: 40%;
        
    }

    .svg-container {

        width: 60%;

        svg {

            width: 100%;
        }
    }
}

}