//Margins and heights

$top-scaffold-navbar:6.85rem;




// Colors

$background-color:#177f81;



// Font-sizes 

$header-1-font-size:clamp(2rem, 1.7956rem + 0.8723vw, 2.875rem);
$header-4-font-size: clamp(0.65rem, 0.815rem + 0.1495vw, 0.9rem);
$header-5-font-size:1rem;

// Font-weights

$font-regular: 300;
$font-medium: 500;
$font-bold: 700;
$font-extra: 900;